*{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    width: 87%;
    margin: auto;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
}

.main{
    font-family: sans-serif;
    color: white;
    background: url('./qb.JPG') no-repeat;
    background-position: right;
    background-size: 700px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}


.body{
    font-display: unset;
    font-size: 45px;
     background-size: cover;
     background-repeat: no-repeat;
     height: 100vh;
     margin-bottom: 30px;
     width: auto;
    
}

 .para{
    font-size: 50px;
    margin-bottom: 20px; 
    font-size: 23px;
    padding-top: 85px;
}

.link{
    font-size: 25px;
    color: #ffff;
    padding-top: 85px;
    margin-top: 100px;
}

.list-item{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-size-adjust: 20px;
    color: #ffff;
    align-items: center;
}

li{
    padding: 10px;
}


/* GRID PRACTICE */



.experience{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 50px;
    color: #ffff;
    margin-top: 53px;
    padding-left: 250px;
    font-family: sans-serif;
}
h3{
    font-size: 30px;
}

h2{
    font-size: 45px;
}

.project{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    text-align: justify;
    font-family: sans-serif;
    color: #ffff;
    column-gap: 75px; 
}

.pro{
    font-size: 45px;
}

.links:link,
.links:visited{
font-size: 20px;
display: inline-block;
/* text-decoration: none; */
}



/* THIRD STAGE*/



.images{
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 80px;
    color: #ffff;
    justify-content: center;
    /* width: 70px; */
}

.images div{
    padding: 1%;
    padding-top: 20px;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    /* align-items: center ; */
    row-gap: 15px;
}
.images div img{
    width: 110%;
    height: 350px;
}


/* FOOTER  */

.footer-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    font-family: sans-serif;
    
}

.contact{
    color: #ffff;
}

.keyes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    color: #ffff;
    font-family: sans-serif;
}